<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Design</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="header">
    
    <div class="text-box">
        <h1>Accessible, Anonymous Networking</h1>
        <p> As recent Georgia Tech graduates who went through the job serach, we realized that there is a lack of 
            transparency during the interview process about some job-related questions candidate have. To make 
            this process easier, we offfer an an anonymous networking 
            service to connect you to previous employees and interns to get your questions answered! Just 
            drop in your resume and desired position, and you’ll be matched with employees of similar background 
            to freely ask any questions you may have.</p>
    </div>
    </section>
    <div class="aboutus">
        <h2>Meet the Team!</h2>
 <!--       <p>As recent Georgia Tech graduates who all went through the job serach, we realized that there is a lack of 
            transparency during the interview process about some job-related questions that the candidate has. To make 
            this process easier, we offer an anonymous networking service We are developing an anonymous networking 
            service to connect you to previous employees and interns to get your questions answered! Just 
            drop in your resume and desired position, and you’ll be matched with employees of similar background 
            to freely ask any questions you may have.
        </p> -->

        <div class="row">
            <div class="bio">
                <img src="https://drive.google.com/uc?export=view&id=1Vp4j5zxmVo8AEBQa2O40SBxM7AN_eFMF" width="160" height="170" class="rounded-circle">
                <h3>Ashi Awasthi</h3>
                <p>
                    Master's Student at Georgia Tech
                </p>
            </div>
            <div class="bio">
                <img src="https://drive.google.com/uc?export=view&id=1cPeoxI2usZMeOuYH2GjysQmk9681AmD2" width="160" height="170" class="rounded-circle">
                <h3>Prathic Sundarajaran</h3>
                <p>
                    Software Engineer at BD
                </p>
            </div>  
            <div class="bio">
                <img src="https://drive.google.com/uc?export=view&id=1FknI9f9ca64vdLbNJWWc_K-Js87HsxH6" width="160" height="170" class="rounded-circle">
                <h3>Suraj Rajendran</h3>
                <p>
                    PhD Student at Weill Cornell
                </p>
            </div> 
            <div class="bio">
                <img src="https://drive.google.com/uc?export=view&id=1mTfFKx1cio5hGVy3QX3UcfOfuo_HtcNf" width="160" height="170" class="rounded-circle">
                <h3>Vishal Shah</h3>
                <p>
                    Software Engineer at McMaster-Carr​
                </p>
            </div>
        </div>
    </div>
</body>
</html>